$colorCode : #3c4043;
$iconColor:#6f71b1;
$themeColor1:#6264a7;
$themeColor2:#3c4043;
$boxBorderColor:#B6BCC5;
$fontFamily1: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
$fontFamily2: 'system-ui';