$colorCode : #3c4043;
$iconColor:#6f71b1;
$themeColor1:#6264a7;
$themeColor2:#3c4043;
$boxBorderColor:#B6BCC5;
$fontFamily1: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
$fontFamily2: 'system-ui';



.input-items {
    margin: 10px 0;

    ion-label {
        position: relative;
        left: 30px;
        top: 8px;
        background: #fff;
        z-index: 9999;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .25;
        padding: 0 5px;
        color: $colorCode;
        // text-transform: uppercase;
        font-family: $fontFamily1;
    }

    ion-input {
        border: 1px solid $boxBorderColor;
        border-radius: 3px;
        color: inherit;

        ion-icon {
            padding: 8px;
            font-size: 18px;
            color: $iconColor;
        }
    }
}

.frgt-psswrd-lbl {
    text-align: right;
    margin: 10px 0;
    font-size: 12px;
}

.login-btn {
    width: 60%;
    color: #fff;
    height: 38px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: $themeColor1;
    margin: 15px 0;
    font-family: $fontFamily1;
    -webkit-box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0,0,0,.25);
    -moz-box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0,0,0,.25);
    box-shadow: 0 0.2rem 0.4rem -0.075rem rgba(0,0,0,.25);
}

.hightlight-txt {
    font-weight: 600;
    color: $themeColor2;
    font-family: $fontFamily1;
}

ion-card {
    margin: 20px;
    color: #3c4043 !important;

    ion-card-header {
        padding: 15px;
    }
}

.welcome-txt {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: $themeColor2;
    font-family: $fontFamily1;
}