<ion-content>
  <div class="welcome-txt">
    <label>Welcome back!</label>
  </div>

  <ion-card>
    <ion-card-header>
      <div class="input-items">
        <ion-label position="stacked">Username</ion-label>
        <ion-input>
          <ion-icon name="mail"></ion-icon>
        </ion-input>
      </div>
      <div class="input-items">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password">
          <ion-icon name="lock"></ion-icon>
        </ion-input>
      </div>
      <div class="frgt-psswrd-lbl hightlight-txt">
        <span>Forgot Password?</span>
      </div>
      <div [ngStyle]="{'text-align':'center'}">
        <button class="login-btn">SIGN IN </button>
      </div>

      <div [ngStyle]="{'font-size':'11px','text-align':'center'}">
        Don't have an account?<span class="hightlight-txt"> Sign Up</span>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>create-account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="welcome-txt">
    <label>Welcome back!</label>
  </div>

  <ion-card>
    <ion-card-header>
      <div class="input-items">
        <ion-label position="stacked">First Name</ion-label>
        <ion-input type="text">
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </div>
      <div class="input-items">
        <ion-label position="stacked">Father's Name</ion-label>
        <ion-input type="text">
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </div>
      <div class="input-items">
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input type="text">
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </div>
      <div class="input-items">
        <ion-label position="stacked">Mobile</ion-label>
        <ion-input type="number">
          <ion-icon name="call"></ion-icon>
        </ion-input>
      </div>
      <div class="input-items">
        <ion-label position="stacked">Email ID</ion-label>
        <ion-input type="mail">
          <ion-icon name="mail"></ion-icon>
        </ion-input>
      </div>
      <div class="input-items">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password">
          <ion-icon name="lock"></ion-icon>
        </ion-input>
      </div>
      <div class="input-items">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input type="password">
          <ion-icon name="lock"></ion-icon>
        </ion-input>
      </div>
      <div [ngStyle]="{'text-align':'center'}">
        <button class="login-btn">SIGN UP </button>
      </div>

      <div [ngStyle]="{'font-size':'11px','text-align':'center','font-family':'system-ui'}">
        Already have an account?<span class="hightlight-txt"> Sign In</span>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content> -->